
.boxcount {
    position: relative;
    width: 100%;
    margin-top: 3em;
}

.box {
    height: 100px;
    width: 360px;
    background: linear-gradient(45deg, black, #002d4e);
    box-shadow: 8px;
    border-radius: 8px;
    color: white;
    position: relative;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.timeHourMinute {
    margin-top: 0.6em;
}

.delete {
    position: absolute;
    top: 10%;
    right: 4%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.times {
    background-color: white;
    
}
