.box {
    position: relative;
    width: 100%;
}

.boxflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-bottom: 1em;
    box-shadow: 5px 5px 10px black;
    border-radius: 8px;
}

.header {
    font-size: 3rem;
}

label {
    font-size: 2rem;
}
input {
    width: 95%;
    height: 50px;
    margin-bottom: 1em;
}

.boxrow {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.btn {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    font-size: 2rem;
}

.btn-success {
    margin-left: 0.4em;
}